<div class="container">
  <div style="background-color: white;width: 500px; position: relative; margin-top: -10px">

    <div style="display: flex; align-items: center;">
      <button mat-icon-button style="color: black; margin-right: 5px;" [matMenuTriggerFor]="importMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <input matInput [(ngModel)]="searchInput" (input)="search()" placeholder="Rechercher parmi {{plannings?.length}} resultats...">

    </div>

    <mat-menu #importMenu>
      <button mat-menu-item sty class="buttonChoix" (click)="OpenNewPlanning()">
        <mat-icon>add</mat-icon> Ajouer Planning
      </button>
      <button mat-menu-item class="buttonChoix" (click)="openImportDialog()">
        <mat-icon>cloud_upload</mat-icon> Importer Plannings
      </button>

      <button mat-menu-item class="buttonChoix" (click)="exportToExcel()">
        <mat-icon>cloud_download</mat-icon> Exporter
      </button>
    </mat-menu>
    <div style="display: flex; align-items: center;">



    <button mat-icon-button (click)="getPlanning()"> <mat-icon style="color: black">refresh</mat-icon></button> &nbsp;

      &nbsp;
      <button mat-button [matMenuTriggerFor]="menu" style="color: #072f5f">Status</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="filterByStatus('PLANIFIEE')" style="color: #072f5f">Planifié </button>
        <button mat-menu-item (click)="filterByStatus('EN_COURS')" style="color: #072f5f">En cours </button>
        <button mat-menu-item (click)="filterByStatus('TERMINE')" style="color: #072f5f">Terminé </button>
      </mat-menu>

      &nbsp;

      <button mat-button [matMenuTriggerFor]="menu1"  style="color: #072f5f" >Type Site </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="getPlanningByType('FIXE ')" style="color: #072f5f">Site Fixe </button>
        <button mat-menu-item (click)="getPlanningByType('MOBILE ')" style="color:#072f5f">Site Mobile </button>
        <button mat-menu-item (click)="getPlanningByType('CONTROLEUR ')" style="color:#072f5f">Controleur Mobile</button>
      </mat-menu>

      &nbsp;
      <button mat-button [matMenuTriggerFor]="menu2"  style="color: #072f5f">Frequence</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="getPlanningBySemestre('Mensuel ')" style="color: #072f5f"> Mensuel </button>
        <button mat-menu-item (click)="getPlanningBySemestre('Trimestriel ')" style="color:#072f5f">Trimestriel </button>
        <button mat-menu-item (click)="getPlanningBySemestre('Annuel ')" style="color:#072f5f">Annuel </button>
      </mat-menu>
      </div>


    <mat-divider></mat-divider>
    <div *ngIf="noResultsFound"class="error-message " style="color:  #6495ED; text-align: center ">Aucun planning trouvé. </div>

    <div  style="width: 500px;">
      <mat-list>
        <ng-container *ngFor="let planning of plannings | paginate: {itemsPerPage:4 , currentPage:p}">
          <a mat-list-item style="height: 100px; width: 500px; background-color: white; cursor: pointer; display: block; text-decoration: none;"
             onmouseover="this.style.backgroundColor='#f0f0f0';"
             onmouseout="this.style.backgroundColor='white';"  (click)="selectPlanning(planning.id)" >
            <div mat-line style="font-size: 14px; color: #999;">#{{ planning.id }}</div>
            <div mat-line style="font-size: 18px; color: #333;">{{ planning.name }}</div>
            <div mat-line >
              {{ getShortDescription(planning.description) }}
              <span *ngIf="isDescriptionLong(planning.description)"></span>
            </div>
            <div mat-line [ngStyle]="{ 'font-size': '14px', 'color': getStatusColor(planning.status) }" style="margin-left: 350px"><i>{{ planning.status }}</i></div>
          </a>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>


    </div>
    <div *ngIf="plannings.length === 0" class="error-message" style="color: #6495ED; text-align: center;">
      Aucun planning trouvé.
    </div>


    <pagination-controls (pageChange)="p = $event " class="float-right">

    </pagination-controls>



    <div #planningDetailsContainer class="details" *ngIf="selectedPlanningDetails" style="position: absolute; top: 0; left: 520px; width: 560px; max-height: 500px; overflow-y: auto; background-color: white; overflow-wrap: break-word; border-radius: 10px; z-index: 999;">
      <div style="color: black; margin-left: 500px;">
        <button mat-icon-button [matMenuTriggerFor]="importMenu1">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #importMenu1>
          <button mat-menu-item class="buttonChoix" (click)="UpdatePlanning()">
            <mat-icon>update</mat-icon> Modifier
          </button>
          <button mat-menu-item class="buttonChoix" (click)="deletePlanning(selectedPlanningDetails.id)">
            <mat-icon>delete</mat-icon> Supprimer
          </button>
        </mat-menu>
      </div>

      <div class="divDetail"  >
        <span style=" color: #072f5f;font-size: 12px"><b># {{selectedPlanningDetails.id}}</b></span>&nbsp;&nbsp;
        <span style=" color: gray;font-size: 12px" [ngStyle]="{ 'font-size': '14px', 'color': getStatusColor(selectedPlanningDetails.status) }">{{ selectedPlanningDetails.status }}
        </span> &nbsp;&nbsp;
        <span style=" color: gray;font-size: 12px">{{ selectedPlanningDetails.semestre }}  </span><br>
        <p style="color: black">{{ selectedPlanningDetails.name }}</p>

        <div style="max-height: 200px; overflow-y: auto;">
          <span style="margin-left: 8px;"> Description</span>
          <p style="line-height: 1; white-space: pre-wrap; margin-left: 8px;">{{ selectedPlanningDetails.description }}</p>
        </div>
        <div style="display: flex; align-items: center;">
          <span><mat-icon style="color: gainsboro;">location_on</mat-icon></span>&nbsp;
          <span>{{ selectedPlanningDetails.site.name }}</span>
        </div>

        <div style="display: flex; align-items: center;">
          <span><mat-icon style="color: gainsboro;">person</mat-icon></span>&nbsp;
          <span>{{ selectedPlanningDetails.responsableMaint.lastName}} {{ selectedPlanningDetails.responsableMaint.firstName}}  </span>
        </div>

        <div style="display: flex; align-items: center;">
          <span><mat-icon style="color: gainsboro;">event</mat-icon></span>
          <div>
            <span style="margin-left: 8px;">Date de réalisation prévue</span><br>
            <span style="margin-left: 8px;">{{selectedPlanningDetails.dateDebutRealisation | date: 'dd-MM-yyyy à HH:mm:ss' }}</span>
          </div>
          <span style="margin-left: 80px;"><mat-icon style="color: gainsboro;">event</mat-icon></span>
          <div>
            <span style="margin-left: 8px;">Date de fin prévue</span><br>
            <span style="margin-left: 8px;">{{selectedPlanningDetails.dateFinRealisation | date: 'dd-MM-yyyy à HH:mm:ss' }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedPlanningDetails" style="position: absolute; top: 270px; left: 530px; width: 560px; border-radius: 10px; background-color: white; max-height: 300px; overflow-y: auto;">
  <mat-tab-group animationDuration="0ms" disableRipple >
<div>
  <mat-tab label="Interventions" style="color: white"*ngIf="ky.getUserRoles().includes('ADMIN') ||ky.getUserRoles().includes('RESPONSABLE DE MAINTENANCE')">
    <ng-template mat-tab-label>
      <span style="color: white;">Interventions</span>
    </ng-template>
    <mat-list>
      <ng-container *ngFor="let int of intervention ">
        <div >
          <div mat-line style="font-size: 16px; color: #333; margin-left: 15px;">{{ int.name }}</div>
          <div mat-line style="font-size: 16px; color: #999; margin-left: 15px;"> <span [ngStyle]="{ 'font-size': '14px', 'color': getStatusColorIntervention(int.status) }">{{ int.status }}</span></div>
        </div>
        <div mat-line style="font-size: 14px; color: #333; margin-left: 15px;">Attribuer à  {{int.technicien.firstName}} {{int.technicien.lastName}}, pour le jour: {{ int.dateDebut | date: 'dd-MM-yyyy à HH:mm:ss' }}</div>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-list>
    <button mat-fab color="primary" class="add-equipment-btn" style="margin-left: 500px;width: 35px; height: 35px" (click)="addInterventionToPlanning()" >
      <mat-icon>add</mat-icon>
    </button>

    <div *ngIf="not_foundInterv" >
      <p style="margin-left: 50px"> Aucune intervention n'est trouvé dans ce site.</p>
    </div>

  </mat-tab>
</div>
  </mat-tab-group>
</div>
