.content{
  margin-top: -30px;

}
.row{
  display: flex;
  gap: 10px;
  mat-form-field{
    width: 100%;
  }
}

.action{
  padding: 0px 25px 20px;
  button{
    flex: 1;
  }
}


.foot .action .custom-blue {

  background-color: #6495ED;

}


