<div>

  <mat-stepper>
    <mat-step>
      <ng-template matStepLabel > Gestion des droits d'accès </ng-template>
      <div>

        <div mat-dialog-content>

          <div style="text-align: right; margin-top: 20px;">

            <button mat-raised-button  matStepperNext style="background-color: #999999;">Suivant</button>
          </div>
        </div>

      </div>


    </mat-step>
    <mat-step>
      <ng-template matStepLabel > Gestion des attributs des sites</ng-template>

        <div mat-dialog-content>











          <div style="text-align: right; margin-top: 20px;">
            <button mat-raised-button matStepperPrevious style="background-color: #999999;"> Previous</button> &nbsp;
            <button mat-raised-button matStepperNext  style="background-color: #999999;">Suivant</button>


        </div>

      </div>

    </mat-step>

  </mat-stepper>
</div>
