<div>
  <h1 style="padding: 10px">Ajouter image(s) pour le site ID : {{data.id}}</h1>

  <!-- Section pour ajouter la première photo -->
  <div style="border: 1px solid lightgrey; margin: 0 10px;">
    <img id="previewImage1" [src]="previewImageUrl1" style="width: 200px; height: 200px;" alt="Image"> &nbsp;
    <mat-icon *ngIf="previewImageUrl1!== defaultImageUrl" (click)="removePhotoP(1)" style="cursor: pointer;">delete</mat-icon>
    <br>
    <div style="margin: 0 10px;"><input id="fileInput1" type="file" accept="image/jpeg, image/jpg, image/png" (change)="onFileSelected($event, 1)" required>
    </div>
    <br>
  </div>
  <ng-container *ngFor="let photo of additionalPhotos; let i = index">
    <div style="border: 1px solid lightgrey; margin: 20px 10px;">
      <img [src]="photo.imageUrl" [id]="'previewImage' + (i + 2)" style="width: 200px; height: 200px;" alt="Image">
      <mat-icon *ngIf="photo.imageUrl !== defaultImageUrl" (click)="removePhoto(i)" style="cursor: pointer;">delete</mat-icon>

      <br>
      <div style="margin: 0 10px;"><input type="file" accept="image/jpeg, image/jpg, image/png" (change)="onFileSelected($event, i + 2)">
      </div>
      <br>
    </div>
  </ng-container>






  <!-- Bouton pour ajouter une autre image -->
  <div style="margin: 20px 10px;">
    <button mat-raised-button style="background-color: #999999" (click)="addAnotherPhoto()">Ajouter une autre image</button>
  </div>

  <!-- Boutons de l'action -->
  <div mat-dialog-actions style="display: flex; justify-content: flex-end;">
    <button mat-raised-button style="margin-left: auto; background-color: #E6E6FA" (click)="cancel()">Annuler</button>
    <button mat-raised-button style="background-color: #6495ED" (click)="uploadFiles(data.id)">Enregistrer</button>
  </div>
</div>
