<div style="margin-left: 20px; margin-top: 10px">
  <h2>Modifier Utilisateur: {{ user?.userName }}</h2>
  <div style="height: 3px; background-color: #072f5f; margin-top: -20px"></div>
</div>
<br><br>
<div class="content" style="padding: 20px;" [formGroup]="updateForm">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput type="text" formControlName="lastName"required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstName" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Téléphone</mat-label>
      <input matInput formControlName="phone_number" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Ville</mat-label>
      <mat-select formControlName="city" required>
        <mat-option *ngFor="let val of cites" [value]="val">{{ val }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Profil</mat-label>
      <mat-select formControlName="roleName" required>
        <mat-option *ngFor="let val of roles" [value]="val">{{ val }}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <div class="row">

    <mat-form-field appearance="outline">
      <mat-label>Centre technique</mat-label>
      <mat-select formControlName="available" required>
        <mat-option *ngFor="let val of centr" [value]="val">{{ val }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="updateForm.get('roleName')?.value === 'TECHNICIEN'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" >
        <mat-option *ngFor="let val of type" [value]="val">{{ val }}</mat-option>
      </mat-select>
      <mat-error *ngIf="updateForm.get('type')?.invalid && (updateForm.get('type')?.dirty || updateForm.get('type')?.touched)">
        Veuillez sélectionner une valeur
      </mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions style="background-color: #6495ED; display: flex; justify-content: flex-end;">
  <button mat-raised-button style="margin-left: auto;" (click)="close()">Annuler</button>
  <button mat-raised-button class="custom-blue"  [disabled]="updateForm.invalid" (click)="updateUser()">Enregistrer</button>
</div>
