<div class="container">
  <div style="background-color: white;width: 500px; position: relative; margin-top: -10px">

    <div style="display: flex; align-items: center;">
      <button mat-icon-button style="color: black; margin-right: 5px;" [matMenuTriggerFor]="importMenu1">
        <mat-icon>more_vert</mat-icon>
      </button>
      <input matInput [(ngModel)]="searchInput" (input)="search()" placeholder="Rechercher parmi {{tot}} resultats...">
    </div>
    <mat-menu #importMenu1>
      <button mat-menu-item class="buttonChoix" >
        <mat-icon>cloud_download</mat-icon> Exporter
      </button>
    </mat-menu>

    <div style="display: flex; align-items: center;">

      <button mat-icon-button (click)="getAllTechn()"> <mat-icon style="color: black">refresh</mat-icon></button>

      &nbsp;
      <button mat-button [matMenuTriggerFor]="menu" style="color: #072f5f">Type</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="getTechnicienInterene()" style="color: #072f5f">Interne </button>
          <button mat-menu-item (click)="getTechnicienExterne()" style="color: #072f5f">Externe </button>

      </mat-menu>

    </div>
    <mat-divider></mat-divider>


    <div *ngIf="noResultsFound" class="error-message" style="color: #6495ED; text-align: center;">Aucun intervenant trouvé.</div>
    <div style="width: 500px;">
      <mat-list>
        <ng-container *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: p }">
          <div style="display: flex; align-items: center;">
            <a mat-list-item style="height: 70px; width: 100%; background-color: white; cursor: pointer; display: block; text-decoration: none;"
               onmouseover="this.style.backgroundColor='#f0f0f0';"
               onmouseout="this.style.backgroundColor='white';" (click)="getUserById(user.id)">
              <div style="display: flex; align-items: center;">
                <div style="flex: 1;">
                  <!-- Première colonne pour le nom de l'utilisateur et l'e-mail -->
                  <div style="font-size: 18px; color: #333;">{{ user.firstName }} {{ user.lastName }}&nbsp;</div>
                  <div style="font-size: 14px; color: #999;">{{ user.email }}</div>
                  <div style="font-size: 14px; color: #999;">{{ user.userName }}</div>
                </div>



              </div>

            </a>
          </div>



          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>



    <pagination-controls (pageChange)="p = $event " class="float-right">

    </pagination-controls>


  </div>

  <div #siteDetails class="details" *ngIf="selectedUser" style="position: absolute; top: 10px; left: 530px; width: 560px; max-height: 500px; overflow-y: auto; background-color: white; overflow-wrap: break-word; border-radius: 10px; z-index: 999;">



    <div class="divDetail"  *ngIf="user"  style="margin-left: 18px ; margin-top: 2px" >

      <div style="display: flex; align-items: center;">
        <span><mat-icon style="color: gainsboro;">person</mat-icon></span>
        <div>
          <span style="margin-left: 15px;">{{user.lastName}} {{user.firstName}}
            <span  style="color: goldenrod;margin-left: 16px">Technicien</span>
          </span>

        </div>

      </div>

      <div >
        <div style="display: flex; align-items: center;">
          <span><mat-icon style="color: gainsboro;">label</mat-icon></span>
          <div>
            <span style="margin-left: 15px;">Type</span><br>
            <span style="margin-left: 15px;color: #999999">{{ user.type }}</span>
          </div>
        </div>
      </div>


      <div style="display: flex; align-items: center;">
        <span><mat-icon style="color: gainsboro;">email</mat-icon></span>
        <div>
          <span style="margin-left: 15px;">Email</span><br>
          <span style="margin-left: 15px;color: #999999">{{user.email}}</span>
        </div>

      </div>

      <div style="display: flex; align-items: center;">
        <span><mat-icon style="color: gainsboro;">phone</mat-icon></span>
        <div>
          <span style="margin-left: 15px;">Téléphone</span><br>
          <span style="margin-left: 15px;color: #999999">{{user.phone_number}}</span>
        </div>

      </div>
      <div style="display: flex; align-items: center;">
        <span><mat-icon style="color: gainsboro;">home</mat-icon></span>
        <div>
          <span style="margin-left: 15px;">Ville</span><br>
          <span style="margin-left: 15px;color: #999999">{{user.city}}</span>
        </div>

      </div>


    </div>
  </div>
    <div *ngIf="user" style="position: absolute; top: 215px; left: 530px; width: 560px; border-radius: 10px; background-color: white; max-height: 300px; overflow-y: auto;">
      <mat-tab-group animationDuration="0ms" disableRipple >
        <mat-tab label="Interventions" style="color: white">
          <ng-template mat-tab-label>
            <span style="color: white;">Interventions</span>
          </ng-template>
          <mat-list>
            <ng-container *ngFor="let int of InterventionTech ">
              <div style="display: flex; align-items: center;">
                <div mat-line style="font-size: 16px; color: #333; margin-left: 15px;">{{ int.name }}</div>
                <div mat-line style="font-size: 16px; color: #999; margin-left: auto;margin-right: 20px">{{ int.status }}</div>
              </div>
              <div mat-line style="font-size: 14px; color: #333; margin-left: 15px;">{{ int.type }}</div>
              <div mat-line style="font-size: 14px; color: #333; margin-left: 15px;"> Date début de réalisation: {{ int.dateDebut | date: 'dd-MM-yyyy à HH:mm:ss' }}</div>
              <mat-divider></mat-divider>
            </ng-container>

          </mat-list>
          <button mat-fab color="primary" class="add-equipment-btn"  (click)="addIntervention()">
            <mat-icon>add</mat-icon>
          </button>
          <div *ngIf="not_foundInterv" >
            <p style="margin-left: 50px"> Aucune intervention planifiée pour ce technicien.</p>
          </div>

        </mat-tab>
      </mat-tab-group>
  </div>
</div>

