<div class="container">
  <div style="background-color: white;width: 500px; position: relative; margin-top: -10px">

    <div style="display: flex; align-items: center;">
      <button mat-icon-button style="color: black; margin-right: 5px;" [matMenuTriggerFor]="importMenu1">
        <mat-icon>more_vert</mat-icon>
      </button>
      <input matInput [(ngModel)]="searchInput" (input)="search()"  placeholder="Rechercher parmi {{equipements?.length}} resultats...">
    </div>

    <mat-menu #importMenu1>
      <button mat-menu-item sty class="buttonChoix"  (click)="addEquipet()"  *ngIf="ky.getUserRoles().includes('ADMIN') ||ky.getUserRoles().includes('INJECTEUR')">
        <mat-icon>add</mat-icon> Ajouer Equipement
      </button>
      <button mat-menu-item class="buttonChoix"  (click)="exporeterEquipements()">
        <mat-icon>cloud_download</mat-icon> Exporter
      </button>
    </mat-menu>

    <div style="display: flex; align-items: center;">
    <button mat-icon-button (click)="getEquip()"> <mat-icon style="color: black">refresh</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu1"  style="color: #072f5f" >Type d'équipement </button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item *ngFor="let type of Types" (click)="getByType(type)" style="color: #072f5f">{{ type.name }}</button>
    </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu2"  style="color: #072f5f" >Etat </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="filterByEtat('EN_SERVICE')" style="color: #072f5f">En service </button>
        <button mat-menu-item (click)="filterByEtat('EN_MAINTENANCE')" style="color:#072f5f">En maintenance </button>
        <button mat-menu-item (click)="filterByEtat('HORS_SERVICE')" style="color:#072f5f">Hors service</button>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>


    <div *ngIf="noResultsFound"class="error-message " style="color:  #6495ED; text-align: center ">Aucun équipement trouvé. </div>

    <div  style="width: 500px;">
      <mat-list>

        <ng-container *ngFor="let eq of equipements | paginate: {itemsPerPage:4 , currentPage:p}" >
          <div >

            <a mat-list-item style="height: 100px; width: 500px; background-color: white; cursor: pointer; display: block; text-decoration: none;"
               onmouseover="this.style.backgroundColor='#f0f0f0';"
               onmouseout="this.style.backgroundColor='white';"  (click)="getEquipementById(eq.id)">


              <div>
                <div mat-line style="font-size: 14px; color: #999;">#{{ eq.id }}</div>
                <div mat-line style="font-size: 18px; color: #333;">{{ eq.nom }}</div></div>
              <div  style="display: flex; align-items: center;">
                <div mat-line style="font-size: 16px; color: #333;">{{ eq.typeEquipementt.name }}</div>
                <div mat-line style="font-size: 16px; color: #072f5f; margin-left: auto; margin-right: 20px"> <span [ngStyle]="{ 'font-size': '14px', 'color': getStatusColor(eq.statut) }" > {{ eq.statut }}</span></div>
              </div>
              <div style="display: flex; align-items: center;">
                <mat-icon style="height: 30px;color: #999999">location_on</mat-icon>
                <div mat-line style="font-size: 16px; color: #072f5f;">
                  {{ eq.salle?.codeSalle }} > {{ eq.salle?.etage?.codeEtagge }} >
                  {{ eq.salle?.etage?.immuble?.codeImmuble }} > {{ eq.salle?.etage?.immuble?.site?.name }}
                </div>
              </div>



            </a>


          </div>

          <mat-divider></mat-divider>
        </ng-container>

      </mat-list>
    </div>

    <pagination-controls (pageChange)="p = $event " class="float-right">

    </pagination-controls>


  </div>
  <div #siteDetails class="details" *ngIf="selectedEquipDetails" style="position: absolute; top: 10px; left: 530px; width: 560px; max-height: 500px; overflow-y: auto; background-color: white; overflow-wrap: break-word; border-radius: 10px; z-index: 999;">
    <div style="color: black; margin-left: 500px; height: 20px" *ngIf="ky.getUserRoles().includes('ADMIN') ||ky.getUserRoles().includes('INJECTEUR')">
      <button mat-icon-button [matMenuTriggerFor]="importMenu1">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #importMenu1>
        <button mat-menu-item class="buttonChoix" (click)="UpdateEquipement()">
          <mat-icon>update</mat-icon> Modifier
        </button>
        <button mat-menu-item class="buttonChoix" (click)="deleteEquipemt(equipement.id)" >
          <mat-icon>delete</mat-icon > Supprimer
        </button>
      </mat-menu>

    </div>
    <div class="divDetail"  *ngIf="equipement"  style="margin-left: 18px ; margin-top: 2px">
      <span style=" color: #072f5f;font-size: 12px"><b># {{equipement.id}}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span style=" color: gray;font-size: 12px" [ngStyle]="{ 'font-size': '14px', 'color': getStatusColor(equipement.statut) }">{{ equipement.statut }}
        </span> &nbsp;

      <span *ngIf="horsService" style="color: darkred" ><b>Planifier une intervention!!!!</b> </span>
<br>
          <div>
            <span style="margin-left: 8px; ">{{equipement.nom}} &nbsp; <span style="margin-left: 8px;"> Type Equipement : {{ equipement.typeEquipementt.name }}</span></span>
          </div>

        <div style="display: flex; align-items: center;">
          <div style="max-height: 200px; overflow-y: auto;">
            <span style="margin-left: 30px;"> Description</span>
            <p style="line-height: 1; white-space: pre-wrap; margin-left: 30px;">{{ equipement.descreption }}</p>
          </div>

        </div>
        <div style="display: flex; align-items: center;">

          <div>
            <span style="margin-left: 30px;"> Marque</span><br>
            <span style="margin-left: 30px; ">{{equipement.marque}}</span>
          </div>
        </div>
        <div style="display: flex; align-items: center;">

          <div>
            <span style="margin-left: 30px;"> Numero de série</span><br>
            <span style="margin-left: 30px; ">{{equipement.numeroSerie}}</span>
          </div>
        </div>
      <div style="display: flex; align-items: center;">
        <span><mat-icon style="color: gainsboro;">location_on</mat-icon></span>
        <div>
          <span style="margin-left: 8px; ">{{ equipement?.salle?.etage?.immuble?.site?.name }}</span>
        </div>
      </div>


    </div>
    </div>

  <div *ngIf="selectedEquipDetails" style="position: absolute; top: 275px; left: 530px; width: 560px; border-radius: 10px; background-color: white; max-height: 300px; overflow-y: auto;">
    <mat-tab-group animationDuration="0ms" disableRipple >

        <mat-tab label="Images" style="background-color: #072f5f">
        <mat-list>
          <ng-container *ngFor="let file of files">
            <div style="position: relative;">
              <div style="display: flex; justify-content: center; margin-top: 5px;" (click)="openPict(file.processedImage)">
                <img [src]="file.processedImage" alt="file image" style="width: 150px; height: 150px;">
              </div>
              <div style="position: absolute; top: 0; right: 0;">
                <mat-icon (click)="deletePic(file.id)" style="cursor: pointer;">delete</mat-icon>
              </div>
              <br>
              <span style="font-size: 16px; color: #333333;"> Ajoutée le:  {{file.dateAjout | date :'dd-MM-yyyy à HH:mm:ss' }}</span>
              <br>
              <mat-divider></mat-divider>
            </div>
          </ng-container>

          <div *ngIf="not_foundImg">
            <p style="margin-left: 50px">Aucune image n'est trouvée dans ce site.</p>
          </div>
        </mat-list>
          <button mat-fab color="primary" class="add-equipment-btn" (click)="addPict(equipement.id)" *ngIf="ky.getUserRoles().includes('ADMIN') ||ky.getUserRoles().includes('INJECTEUR')">
            <mat-icon>add</mat-icon>
          </button>
      </mat-tab>

      <mat-tab label="Interventions" style="color: white"*ngIf="ky.getUserRoles().includes('ADMIN') ||ky.getUserRoles().includes('RESPONSABLE DE MAINTENANCE')">
        <ng-template mat-tab-label>
          <span style="color: white;">Interventions</span>
        </ng-template>
        <mat-list>
          <ng-container *ngFor="let int of intervention ">
            <div >
              <div mat-line style="font-size: 16px; color: #333; margin-left: 15px;">{{ int.name }}</div>
              <div mat-line style="font-size: 16px; color: #999; margin-left: 15px;"> <span [ngStyle]="{ 'font-size': '14px', 'color': getStatusColorIntervention(int.status) }">{{ int.status }}</span></div>
            </div>
              <div mat-line style="font-size: 14px; color: #333; margin-left: 15px;">Attribue à {{int.technicien.firstName}} {{int.technicien.lastName}} , pour la date {{ int.dateDebut | date: 'dd-MM-yyyy à HH:mm:ss' }}</div>
            <mat-divider></mat-divider>
          </ng-container>

        </mat-list>
        <button mat-fab color="primary" class="add-equipment-btn" (click) ="addInterventionToEquip()" >
          <mat-icon>add</mat-icon>
        </button>

        <div *ngIf="not_foundInterv" >
          <p style="margin-left: 50px"> Aucune intervention n'est trouvé dans ce site.</p>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>



  </div>


