<div style="margin-left: 20px; margin-top: 10px">
  <h2>Ajouter équipement dans le site ID: {{this?.siteId}}  </h2>
  <div style="height: 3px; background-color: #072f5f; margin-top: -20px"></div>
</div>
<br><br>
<div  class="content" style=" padding: 20px;" [formGroup]="addForm" >
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label> Code</mat-label>
      <input matInput type="text"  formControlName="code" required>
      <mat-error>Veuillez remplir le  champs</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Nom de l'equipement</mat-label>
      <input matInput type="text"  formControlName="nom" required>
      <mat-error>Veuillez remplir le  champs</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label> Type d'equipement   </mat-label>
      <mat-select formControlName="typeEquipementt" required>
        <mat-option *ngFor="let val of typeEquipement" [value] ="val" > {{val.name}}</mat-option>
      </mat-select>
      <mat-error>Veuillez selectionner une valeur</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Etat</mat-label>
      <mat-select formControlName="statut" required>
        <mat-option *ngFor="let val of statuss" [value] ="val" > {{val}}</mat-option>
      </mat-select>
      <mat-error>Veuillez selectionner une valeur</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label> Numéro de série</mat-label>
      <input matInput type="text"  formControlName="numeroSerie" required>
      <mat-error>Veuillez remplir le  champs</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Modèle</mat-label>
      <input matInput type="text" formControlName="marque" required>
      <mat-error>Veuillez remplir le  champs</mat-error>
    </mat-form-field>

  </div>

  <div class="row">


    <mat-form-field appearance="outline">
      <mat-label> Salle   </mat-label>
      <mat-select formControlName="salle" required>
        <mat-option *ngFor="let val of salles" [value] ="val" > {{val.codeSalle}}</mat-option>
      </mat-select>
      <mat-error>Veuillez selectionner une valeur</mat-error>

    </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label> Date de mise en service </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateMiseService" required>
      <mat-hint> MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Veuillez selectionner une date</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field  appearance="outline">
      <mat-label> Description </mat-label>
      <textarea matInput formControlName="descreption"
                cdkTextareaAutosize [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="5" required></textarea>
      <mat-error>Veuillez saisir la decription</mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions style="background-color: #6495ED; display: flex; justify-content: flex-end;">
  <button mat-raised-button style="margin-left: auto;" (click)="close()">Annuler</button>
  <button mat-raised-button class="custom-blue"  (click)="add()">Enregistrer</button>
</div>







